<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()

        <email address="info@candyshop.com" link-text="contact us"></email>
    </div>
</body>
</html>
